body{
    background-image: url(bgee.png);
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
.periodicbg{
     background-color: aquamarine;
     text-align: center;
     border-radius: 20px;
}
h1{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 50px;
}
td{
    height: 90px;
    border: 5px solid black;
    border-radius: 10%;
    width: 100px;
}
table{
    width: 100%;
}
tr{
    height: 70px;
}
.element{
    text-align: center;
    font-weight: bolder;
}
.td1{
    border: none;
}
.td2{
    border: none;
}
.td3{
    border: none;
}
.td4{
    border: none;
}
.td5{
    border: none;
}
.td6{
    border: none;
}
.td7{
    border: none;
}
.td8{
    border: none;
}
.data1{
    background-color: 	#0098db;
}
.data2{
    background-color: #00b588;
}
.data3{
    background-color: goldenrod;
}
.data4{
    background-color: greenyellow;
}
.data5{
    background-color: aqua;
}
.data6{
    background-color: mediumslateblue;
}
.data7{
    background-color: cornflowerblue;
}
.data8{
    background-color: skyblue;
}
.data9{
    background-color: cadetblue;
}
.data10{
    background-color: darkgrey;
}
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: aqua;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .back-button:hover {
    background-color: #ddd;
  }
  
