*{
    font-family: 'Playfair Display', serif;
    font-family: 'Wix Madefor Display', sans-serif;
}
.btn-primary{
    display: block;
    width: auto;
    margin: 20px auto;
}
.btn-primary{
    padding: 8px 10px;
    text-decoration: none;
}
.btn-primary{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
}  
.Logo
{
 height: 80px;
 width: auto;
}

.modal-footer a {
    text-decoration: none;
    color: white;
}
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: aqua;
    color: #333;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .back-button:hover {
    background-color: #ddd;
  }
  